@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.title{
    background-color: #0b2545;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    height: 8rem;
    /* position: fixed; */
    top:0;
}

#mainPage{    
    background-color: #0b2545;
    height: 100vh;
    display: none;
    justify-content: space-around;
    align-items: center;
    min-height: 600px;
}

@media (max-width: 900px){
    #mainPage{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: auto;
        gap: 5rem;
        padding: 3rem;
    }
}

.container2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2{
    color: white;
}

.gbPlayer, .gbComputer, .gbInit{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    border: 20px solid #326990;
    border-radius: 5%;
}

.grid{
    width: 40px;
    height: 40px;
    background-color: green;
    box-sizing: border-box;
    border: .1px solid gray;
}

.grid:hover{
    opacity: 0.5;
}

#resultPage, #placeShipPage{
    min-height: 600px;
    position: absolute;
    z-index: 0;
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
}

#resultPage{
    background-color: black;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.text{
    color: #e8002a;
    font-size: 2rem;
}

.winner{
    color: #FF0000;
    font-size: 3rem;
}

.restart{
    background-color: lightblue;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    padding: 20px;
}

.restart:hover{
    opacity: 0.5;
}

/* ---------- */
#placeShipPage{
    display: flex;
    opacity: 1;
    background-color: #0b2545;
}

.container1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #0b2545;
}

.container11 > h2{
    display: flex;
    align-items: center;
}

.container11{
    /* background-color: gray; */
    display: flex;
    justify-content: space-between;
}

.rotate{
    width: 35px;
    height: 35px;
    background-color: red;
    border: none;
    border-radius: 50%;
    cursor: pointer; /* Mouse pointer on hover */

    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate:hover{
    opacity: 0.9;
    transition: transform .15s; /* animation*/
    transform: scale(1.2);
}

.rotate:active{
    background-color: white;
    transform: translateY(2px);
}

svg{
    width: 20px;
    height: 20px;
}

.gridInit{
    width: 40px;
    height: 40px;
    background-color: white;
    box-sizing: border-box;
    border: .1px solid gray;
}

/* .gridInit:hover{
    opacity: 0.5;
} */